<h2 class="form-title">Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, class: 'flex form') do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field flex columns">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'input' %>
  </div>

  <div class="form-actions flex">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-frm' %>
  </div>
<% end %>

<%= render partial: 'devise/shared/devise_links', layout: 'div_layout', locals: { id_selector: 'devise-links', styles: 'flex' } %>
