<h2 class="form-title">Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, class: 'flex form') do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field flex columns">
    <div class="flex field-wrap">
      <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em class="hint-txt">(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'input' %>
    </div>
  </div>

  <div class="field flex columns">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
  </div>

  <div class="form-actions flex">
    <%= f.submit "Change my password", class: 'btn btn-frm' %>
  </div>
<% end %>

<%= render partial: 'devise/shared/devise_links', layout: 'div_layout', locals: { id_selector: 'devise-links', styles: 'flex' } %>
