<% if local_assigns[:details] %>
  <div class="post-header flex">
    <h3 class="post-title">Post #<%= post.id %>. <%= post.title %> by <%= post.author %></h3>
    <div class="flex counters">
      <%= render partial: 'counter', locals: { counter: { name: 'Comments', total: post.comments_counter } } %>
      <%= render partial: 'counter', locals: { counter: { name: 'Likes', total: post.likes_counter } } %>
    </div>
    </div>
    <p class="content"><%= post.text %></p>
<% else %>
  <%= link_to user_post_path(post.author, post), class:'link link-post' do %>
    <p>Post #<%= post.id %> | <%= post.title %></p>
  <% end %>
  <p class="content"><%= post.text %></p>
  <div class="flex post-footer">
    <%= link_to 'New comment', new_user_post_comment_path(current_user, post), class: 'btn btn-new' %>
    <div class="flex counters">
      <%= render partial: 'counter', locals: { counter: { name: 'Comments', total: post.comments_counter } } %>
      <%= render partial: 'counter', locals: { counter: { name: 'Likes', total: post.likes_counter } } %>
    </div>
  </div>
<% end %>

<% if local_assigns[:recent_comments] and post.most_recent_comments.count.positive? %>
  <aside class="recent-comments">
    <h3>Recent comments</h3>
    <div class="post-comments">
      <%= render partial: 'comments/comment', collection: post.most_recent_comments %>
    </div>
  </aside>
<% end %>

<% if local_assigns[:all_comments] and post.comments.count.positive? %>
  <aside class="all-comments">
    <h3>All comments</h3>
    <div class="post-comments">
      <%= render partial: 'comments/comment', collection: post.comments %>
    </div>
  </aside>
<% end %>
