<!DOCTYPE html>
<html>
  <head>
    <title>DevThoughts Blog - App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'application/header' %>
    <p class="flash flash-notice<%= ' flash-show' if flash[:notice] %>"><%= flash[:notice] %></p>
    <p class="flash flash-alert<%= ' flash-show' if flash[:alert] %>"><%= flash[:alert] %></p>
    <main>
      <div class="container center flex columns">
        <%= yield %>
      </div>
    </main>
    <%= render 'application/footer' %>
  </body>
</html>
